####################
# super strict mode
####################
auto-install-peers=true
strict-peer-dependents=true
resolve-peers-from-workspace-root=false

################
# Optimizations
################
# Less strict, but required for tooling to not barf on duplicate peer trees.
# (many libraries declare the same peers, which resolve to the same
#  versions)
peers-suffix-max-length=40
dedupe-injected-deps=true
dedupe-peer-dependents=true
public-hoist-pattern[]=ember-source
public-hoist-pattern[]=ember-primitives
sync-injected-deps-after-scripts[]=build
sync-injected-deps-after-scripts[]=sync
inject-workspace-packages=true

################
# Compatibility
################
# highest is what everyone is used to, but
# not ensuring folks are actually compatible with declared ranges.
resolution-mode=highest

################
# Overrides
################
overrides.@embroider/addon-shim=1.9.0
overrides.ember-eslint-parser=0.5.3

################
# Patches
################
patchedDependencies.@nativescript/unit-test-runner=patches/@nativescript__unit-test-runner.patch

################
# Build Dependencies
################
only-built-dependencies[]=@nativescript/core
only-built-dependencies[]=@nativescript/unit-test-runner
only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=chromedriver
only-built-dependencies[]=core-js
only-built-dependencies[]=core-js-pure
only-built-dependencies[]=esbuild
only-built-dependencies[]=nativescript
only-built-dependencies[]=unrs-resolver