*
!.github
!vite.config.mjs
!babel.config.js
!index.html
!app
!app/**/*
!config
!config/**/*
!public
!public/**/*
!gh-pages
!gh-pages/**/*
!tests
!tests/**/*
!types
!types/**/*
!.editorconfig
!.ember-cli
!.eslintignore
!.eslintrc.js
!.gitignore
!.prettierignore
!.prettierrc.js
!.template-lintrc.js
!.watchmanconfig
!ember-cli-build.js
!package.json
!pnpm-lock.yaml
!README.md
!testem.js
!tsconfig.json
